body {
    margin: 0;
}

.container {
    background-color: blueviolet;
    width: 100%;
    max-width: 1200px;
}
main {
    background-color: brown;
}

#root {
    width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}