header {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0px;
    margin-bottom: 5%;
    border-bottom: solid black 1px;
    padding-bottom: 2%;
}
header a{

    margin: 0px;
}
header h2{
    padding-left: 38%;    
}
header a button{
    margin: 0px;
}
    table{
        width: 100%;
        border-collapse: collapse;
        background: #cfcfcf;
        border-bottom: 1px solid #333; 
        border-top: 1px solid #333;
    }

    th, td{
        border-right: 1px solid #333;
        border-left: 1px solid #333;
        padding: 8px;
        text-align: center;
        font-size: 14px;
    }

    th{
        background: #bdbdbd;
        font-weight: bold;
    }

    td{
        background: #d9d9d9;
    }

    .editar-btn{
        cursor: pointer;
        font-size: 18px;
    }