body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main {
    color: #000;
    background-color: #D9D9D9;
    width: 100%;
    max-width: 1140px;
    height: auto;
    min-height: 600px;
    margin: 0px 10px;
    border: 2px solid #8056FF;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.main-header img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.main-header h2 {
    margin: 0;
    line-height: 60px;
    font-weight: normal;
}

.main-header > div {
    width: 40px;
}

.main-form-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-form-content-left,
.main-form-content-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-form-content-right {
    align-items: flex-end;
    border-left: 1px solid #000;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
}

.form-input label {
    margin-left: 10px;
    margin-bottom: 5px;
}

.form-input input, 
.form-input select {
    width: 100%;
    max-width: 480px;
    height: 60px;
    border-radius: 31px;
    border: none;
    box-shadow: 0px 4px 5px #929292;
    padding: 0px 20px;
    font-size: 1em;
    outline: none;
    box-sizing: border-box;
}

.main-form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.main-form-actions button {
    width: 100%;
    max-width: 144px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.main-form-actions button:hover {
    opacity: 0.8;
}

.btn-editar {
    background-color: #8056FF;
}

.btn-excluir {
    background-color: #D30000;
}